.effect-type-group-row {
  background-color: #dadada;
}

#de-novo-variants tr:hover {
  background-color: #edf3ff;
}

#de-novo-variants .effect-type-group-row:hover {
  background-color: #e3e5eb;
}

.table-centered,
.table-centered th,
.table-centered td {
  text-align: center;
}

:host::ng-deep #families-by-pedigree-div td:hover {
  background: #edf3ff;
}

.variants-report-content {
  width: 100%;
  padding: 20px 30px 30px;
}

.variants-report-selector {
  width: 230px;
  padding-bottom: 16px;
}

th.rotate > div {
  display: inline-block;
  position: relative;
  height: 180px;
  width: auto;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  filter: flipv fliph;
  transform: rotate(180deg);
}

th.rotate {
  padding-bottom: 10px;
  vertical-align: bottom;
}

.column-header {
  word-break: break-word;
  writing-mode: vertical-rl;
  max-height: 210px;
  text-align: left;
  padding-bottom: 10px;
}

table {
  table-layout: fixed;
}

.groups-title {
  position: relative;
  text-align: left;
  padding-left: 12px;
  top: 25px;
}

.sex-title {
  position: relative;
  text-align: right;
  padding-right: 11px;
  top: -25px;
}

.first-header-cell {
  border-bottom: 1px;
  background-image:
    linear-gradient(
      to top right,
      white 49%,
      #dee2e6,
      white 51%
    );
}

:host::ng-deep.selected-item span {
  width: 90% !important;
}

#de-novo-variants-legend-report {
  padding-bottom: 10px;
}

#de-novo-variants-legend-report span {
  color: #6c757d !important;
  font-size: 80%;
  font-weight: 400;
}

#legend-wrapper {
  position: sticky;
  float: right;
  margin-top: 8px;
  margin-right: 16px;
  bottom: 10px;
}

.docked {
  width: 60px;
  background: #fff;
  padding: 10px;
  opacity: 75%;
  margin: -20px;
  left: 100%;
  margin-left: -50px;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  z-index: 99;
}

.effect-type-data-values {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

#total-number-of-families {
  position: absolute;
  right: 0;
  padding: 16px;
}

#families-by-number {
  padding-bottom: 55px;
}

#families-by-pedigree {
  padding-bottom: 20px;
}

h5 {
  margin-bottom: 0;
}

#tags-wrapper {
  padding-bottom: 16px;
}

#tags-selector {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pedigree-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#open-modal-button {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  padding: 6px 12px;
  flex-shrink: 0;
}

#selected-tags-list {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tags-modal-content {
  padding: 20px;
  height: fit-content;
  width: fit-content;
}

#tags-modal-header {
  display: flex;
  column-gap: 20px;
  align-items: baseline;
  margin-bottom: 10px;
}

#uncheck-button {
  white-space: nowrap;
}

#tag-label {
  margin-left: 5px;
}

#nothing-found {
  height: 43px;
  line-height: 43px;
  font-style: italic;
  padding-left: 12px;
  opacity: 75%;
  font-weight: normal;
}

/* stylelint-disable-next-line selector-class-pattern */
:host::ng-deep.dropdown-multiselect__caret {
  display: none !important;
}

:host::ng-deep.selected-item {
  color: black !important;
  background-color: #eee !important;
  border: 1px solid #ddd !important;
  box-shadow: none !important;
  max-width: unset !important;
  margin: 2px !important;
  text-align: center;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 28px;
  display: flex;
}

:host::ng-deep.selected-item a {
  color: black !important;
  opacity: 50% !important;
  float: right;
}

:host::ng-deep.dropdown-btn {
  min-height: 44px !important;
  padding: 5px 12px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  align-content: center !important;
  border: 1px solid #ced4da !important;
  width: 447px !important;
}

:host::ng-deep.multiselect-item-checkbox div::before {
  border: 1px solid black !important;
  animation: none !important;
  transition: none !important;
}

:host::ng-deep.item1 {
  border-top: 1px solid #ccc !important;
}

:host::ng-deep.dropdown-list {
  display: flex;
  flex-direction: column-reverse !important;
  top: -211px !important;
  box-shadow: none !important;
  border-bottom: 0 !important;
  width: 447px !important;
  height: 198px;
}

:host::ng-deep.item1 .multiselect-item-checkbox {
  display: none;
}

:host::ng-deep input[aria-label="multiselect-search"] {
  padding: 0 !important;
}

:host::ng-deep.filter-textbox {
  padding: 7px 10px !important;
}

:host::ng-deep.no-filtered-data h5 {
  visibility: hidden;
  margin-bottom: 0;
}

:host::ng-deep.no-filtered-data h5::after {
  content: "Nothing found";
  visibility: visible;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  opacity: 75%;
  float: left;
  margin-bottom: 0;
}

.download-link {
  cursor: pointer;
  user-select: none;
}

:host::ng-deep gpf-common-reports-pedigree-cell {
  display: flex;
  justify-content: center;
}

#tags-dropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tags-dropdown-wrapper .select-dropdown-icon {
  position: absolute;
  right: 10px;
  transform: rotate(180deg);
  pointer-events: none;
}
