.action-buttons .btn {
  cursor: pointer;
  color: #2a6395;
}

.action-buttons {
  margin-top: 5px;
}

.action-buttons .btn:hover {
  color: white;
  background-color: #2a6395;
  border-color: #2a6395;
}

.select-unselect-all {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 15% 25% 25% 15%;
}

.grid-header {
  min-height: 2rem;
  line-height: 2rem;
  border: 1px solid #ddd;
  background-color: #eee;
  text-align: center;
  font-weight: bold;
}

.grid-cell {
  min-height: 6rem;
  border: 1px solid #ddd;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-list {
  max-height: 18rem;
  overflow-y: auto;
}

.list-cell {
  justify-content: space-between;
}

.item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: 0 10px;
  line-height: 30px;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
}

gpf-item-add-menu {
  border-top: 1px solid rgba(128, 128, 128, 10.3%);
}

#cancel-button {
  background-color: transparent;
  border: none;
  padding-top: 8px;
}

#edit-icon {
  font-size: 15px;
  padding-left: 5px;
}

#edit-icon:hover {
  cursor: pointer;
}

#user-name {
  padding: 0 5px;
}

.name-field {
  width: 135px;
  font-size: 15px;
}

#edit-wrapper {
  display: flex;
  justify-content: center;
}

#add-user-name {
  font-style: italic;
  opacity: 50%;
}

input:invalid:focus {
  outline: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
  box-shadow: 0 0 0 4px rgba(244, 15, 15, 30%);
}

.remove-group-button {
  margin-top: 4px;
}
