table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th {
  background: #eee;
  font-weight: 500;
  text-align: center;
  padding: 5px;
}

.value-cell {
  width: 80px;
}

.enrichment-table {
  margin-top: 20px;
  border-top: 1px solid rgb(0, 0, 0, 12.5%);
  padding-top: 20px;
  margin-bottom: 50px;
}

.selector-cell {
  max-width: fit-content;
  width: 100px;
  text-align: center;
  padding: 0 10px;
}

.description {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

#enrichment-tool-results {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50%;
}
