:host::ng-deep#values-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  color: #acacac;
  font-size: 14px;
  width: 100%;
  max-width: 600px;
}

.values-count-text {
  font-size: 12px;
  opacity: 40%;
}
