.content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.app-content {
  padding: 20px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0, 0, 0, 12%);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

#logo {
  min-height: 58px;
  z-index: 199;
  position: relative;
  background-color: white;
}

.sidenav {
  padding: 20px;
  width: 250px;
  position: absolute;
  background-color: #fafafa;
  z-index: 200;
  height: calc(100% - 58px);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 20%);
}

.sidenav .nav-item {
  text-align: left;
  padding-bottom: 8px;
}

.nav-link {
  padding-left: 8px;
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

.navbar-button {
  margin-right: 10px;
}

.navbar-toggler {
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 0.25rem;
  height: 34px;
}

.navbar-button .navbar-toggler {
  padding: 0.25rem 0.55rem;
}

.blackscreen {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
  z-index: 190;
}

#version-container {
  color: #9b9b9b;
  position: absolute;
  bottom: 10px;
}
