.container {
  margin-top: 20px;
}

#edit-container {
  display: flex;
  align-items: flex-end;
}

#edit-description {
  display: flex;
  position: relative;
  padding-top: 7px;
  width: 100%;
}

#markdown-id {
  width: 100%;
}

#empty-description {
  width: 100%;
}

#empty-description > span {
  font-style: italic;
  opacity: 75%;
}

#edit-icon {
  padding: 6px;
  cursor: pointer;
}

:host::ng-deep.md-header {
  background-color: #eee;
  padding: 5px;
  border-radius: 0.375rem 0.375rem 0 0;
  height: 44px;
}

:host::ng-deep.md-header .btn-sm {
  background-color: #eee;
  width: 34px;
  height: 34px;
  border: 1px solid transparent !important;
  font-size: 15px;
  border-radius: 0.375rem !important;
}

:host::ng-deep.btn-sm:hover {
  background-color: #e2e2e2 !important;
}

:host::ng-deep.btn-sm:disabled {
  background-color: unset;
  border: none;
  outline: none;
  cursor: not-allowed;
}

:host::ng-deep.md-header .btn-sm[title="Preview"] {
  height: 34px;
  width: 90px;
  margin-left: 10px;
  color: #2a6395;
  border-radius: 6px;
  align-self: center;
}

:host::ng-deep.md-editor {
  height: 310px;
}

:host::ng-deep.md-preview {
  padding: 20px 13px;
  overflow-wrap: break-word;
}

:host::ng-deep.btn-sm[title="Preview"]:hover,
:host::ng-deep.btn-sm[title="Preview"]:focus {
  background-color: #ddd;
}

:host::ng-deep.btn-sm.active[title="Preview"] {
  background-color: #6c757d !important;
}

:host::ng-deep#editor1 {
  border: 1px solid #eee;
  border-top: none;
  border-radius: 0 0 0.375rem 0.375rem;
  padding: 6px 12px;
  min-width: 542px;
  min-height: 100px;
}

:host::ng-deep#editor1:focus {
  border: 1px solid #a4c9fe;
  border-top: none;
  outline: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#save-button {
  width: 85px;
}

#close-button {
  margin-left: 8px;
  background-color: #eee;
  border: 1px solid #ddd;
}

#close-button:hover {
  background-color: #ddd;
}
