#modal-pedigree-container {
  margin: 16px;
}

.pedigree-container {
  width: fit-content;
  margin: auto;
  cursor: pointer;
}

#family-ids-list-wrapper {
  display: flex;
  height: 105px;
  justify-content: center;
  margin: auto;
  padding: 0 5px 5px 0;
}

#family-ids-list {
  max-height: 100px;
  height: 100px;
  overflow: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
  padding: 0 8px 24px;
  max-width: 520px;
}

#family-ids-list div {
  text-align: center;
}

#download-button {
  box-shadow: none;
  height: 33px;
  width: 40px;
  padding: 3px;
}

#download-button:focus {
  background: #2a6395;
}

#download-button:hover {
  background: #173f62;
}

form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#modal-family-count {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  font-size: 18px;
}

hr {
  margin: 8px 0;
}

.pedigree-download-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
}
