@import url("jquery-ui.css");

html,
body,
material-app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  overflow-y: scroll;
}

#logo {
  padding: 10px 20px;
}

#logo h3 {
  font-size: 20px;
  display: inline;
  vertical-align: -3px;
}

#logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

a {
  color: #2a6395;
}

input,
button {
  font-family: Roboto, sans-serif;
}

@keyframes example {
  from { background-color: red; }
  to { background-color: inherit; }
}

/* The element to apply the animation to */
.flashing {
  animation: example 0.3s linear infinite alternate;
}

label {
  margin-bottom: 0;
  user-select: none;
}

.checkbox label {
  padding-top: 4px;
  padding-bottom: 4px;
}

.row-eq-height {
  display: -webkit-box;
  /* stylelint-disable */
  display: -webkit-flex;
  display: -ms-flexbox;
  /* stylelint-enable */
  display: flex;
}

.card {
  height: 100%;
}

.card-row {
  margin-left: -15px;
}

.form-block {
  margin-top: 20px;
  border-radius: 3px;
}

.form-block-title {
  font-weight: 500;
  width: 120px;
}

.form-block .nav-item {
  font-size: 0.9em;
}

.navbar {
  padding: 0.5rem 1rem;
}

.form-block .navbar {
  padding: 10px 20px;
}

.form-block .tab-content {
  font-size: 0.9em;
}

.panel {
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 12.5%);
}

.btn {
  cursor: pointer;
}

.btn-primary {
  background-color: #2a6395;
}

.btn-group {
  flex-wrap: wrap;
}

.btn-primary,
.btn-outline-primary {
  border-color: #2a6395;
}

.btn-primary:hover {
  background-color: #173f62;
}

.btn-right {
  float: right;
}

.btn:disabled,
.btn-primary:disabled {
  cursor: not-allowed;
}

.btn-primary:disabled {
  background-color: #3e5d7e;
  border-color: #3e5d7e;
}

.btn-primary:disabled:hover {
  background-color: #3e5d7e;
}

.form-block .alert {
  margin-bottom: 0;
  margin-top: 20px;
}

.form-block .alert ul {
  margin: 0;
  padding-left: 1em;
}

#search-box,
#selected-value {
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
  line-height: 34px;
  outline: none;
}

.modal-fullscreen .modal-dialog {
  max-width: 1200px;
}

.modal-fullscreen .pheno-browser-fullscreen-image {
  max-width: 100%;
}

.clickable {
  cursor: pointer;
}

.nav-link {
  margin-right: 8px;
  color: #2a6395;
  /* stylelint-disable */
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  /* stylelint-enable */
  transition: height 0.01s;
}

.nav-pills .nav-link.active {
  background-color: #2a6395;
}

.navbar.navbar-custom .nav-link,
.navbar-nav.navbar-custom .nav-link {
  color: rgba(0, 0, 0, 50%);
}

.navbar.navbar-custom .nav-link.active,
.navbar-nav.navbar-custom .nav-link.active {
  background-color: #2a6395;
  color: #fff;
  border-radius: 0.25rem;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #2a6395;
}

.popover {
  max-width: 500px;
}

.modal-backdrop {
  z-index: 1040 !important;
}

.modal-backdrop.fade {
  transition: none;
}

.nav-title-custom {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  width: 100px;
  margin-right: 8px;
}

.pedigree-icon {
  margin-bottom: -1px;
  margin-right: 3px;
  margin-left: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 0.1px solid #aaa;
}

#report-button,
#table-preview-button,
#enrichment-test-button,
#save-query-dropdown-button {
  margin-right: 8px;
}

.select-wrapper {
  position: relative;
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.select-wrapper select {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  appearance: none;
}

.select-wrapper .select-dropdown-icon {
  position: absolute;
  right: 10px;
  padding-top: 2px;
  font-size: 1em;
  pointer-events: none;
}

.search-input-wrapper {
  display: inline-flex;
  position: relative;
  width: 100%;
  align-items: center;
}

.search-input {
  padding-right: 25px;
}

.search-clear-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 7px;
}

.search-loading-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 7px;
  background-size: 18px;
  opacity: 50%;
  animation: rotation 0.8s steps(8) infinite;
}

@keyframes rotation {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}

/* stylelint-disable-next-line at-rule-no-vendor-prefix */
@-webkit-keyframes rotation {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}

.form-label {
  width: 100%;
}

.checkbox-label {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 7px;
  padding-left: 8px;
  padding-right: 8px;
}

.gpf-basic-table {
  width: 100%;
}

.gpf-basic-table,
.gpf-basic-table th,
.gpf-basic-table td {
  border: 1px solid #dee2e6;
  text-align: center;
}

.gpf-basic-table th {
  vertical-align: bottom;
}

.gpf-basic-table th,
.gpf-basic-table td {
  padding: 5px;
}

ngb-modal-window {
  z-index: 1000;
}

.download-link {
  color: #0645ad !important;
  text-decoration: none;
}

.download-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  width: 1140px;
  margin: auto;
  padding: 0 15px 30px;
}

.form-group {
  margin-bottom: 16px;
}

.btn-default {
  background-color: #eee !important;
  border: 1px solid #ddd !important;
}

.btn-default:focus {
  outline: grey solid 2px;
}

#legend-wrapper {
  direction: rtl;
}

.pedigree-modal .modal-lg .credential-modal {
  --bs-modal-width: fit-content;

  min-width: 620px;
  padding: 0 50px;
}

gpf-genotype-preview-field gpf-pedigree gpf-pedigree-chart .svg-container {
  width: unset !important;
}

.pedigree-modal .modal-lg .svg-container {
  max-width: 100% !important;
}

#family-ids-panel textarea,
#gene-symbols-panel textarea,
#person-ids-panel textarea,
#regions-filter-panel textarea {
  min-height: 70px;
}
