.partitions-text {
  font-size: 12px;
}

.histogram {
  text-align: center;
}

.histogram svg {
  width: 100%;
  height: 100%;
}

.histogram-controls {
  display: flex;
  width: 100%;
  max-width: 650px;
  margin: auto;
  margin-bottom: 20px;
}

.histogram-to {
  margin-right: 20px;
}

.histogram-controls label {
  display: inline-block;
  margin-right: 5px;
}

.histogram-controls input {
  display: inline-block;
  width: 100px;
}
